<h2>{{ form.form_name }}</h2>

<div ng-show="!form.submitted">
    <form name="myForm" id="myForm">
      <accordion close-others="accordion.oneAtATime">
        <hr>
        Organisation name:
        <input type="text" ng-model="org_name"></input>
        <hr>
          <accordion-group heading="{{field.field_title}}" ng-repeat="field in form.form_fields" is-open="isopen" ng-click="isopen=!isopen">
              <div class="accordion-edit">
                <field-directive field="field">
                </field-directive>
                <button class="btn btn-primary right" type="button" ng-click="nextPanel()">OK</button>
              </div>
          </accordion-group>
      </accordion>
    </form>


    <div class="form-actions">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()">Create policy</button>
        </p>
    </div>
</div>

<div ng-show="form.submitted">
    <h3>Submitted Data</h3>
    <div ng-repeat="field in form.form_fields">
        Field Title: {{ field.field_title }} <br>
        Field Value: {{ field.field_value }} <br><br>
    </div>
</div>
