<h2>{{ form.form_name }}</h2>

<div ng-show="!form.submitted">
    <form name="myForm" id="myForm">
      <hr>
      Organisation name:
      <input type="text" ng-model="form.org_name"></input>
      <hr>
      <accordion close-others="accordion.oneAtATime">
          <accordion-group heading="{{field.field_title}}" ng-repeat="field in form.form_fields" is-open="isopen" ng-click="isopen=!isopen">
              <div class="accordion-edit">
                <field-directive field="field">
                </field-directive>
                <button class="btn btn-primary right" type="button" ng-click="nextPanel()">Next</button>
              </div>
          </accordion-group>
      </accordion>
    </form>


    <div class="form-actions">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()">Create policy</button>
        </p>
    </div>
</div>

<div id="policyContainer" ng-show="form.submitted">
  <hr>
  <div id="submittedPolicy">
    <div class="hideDuringCreation">
      <h2>Security Policy for <span ng-bind="form.org_name">{{ form.org_name }}</span></h2>
        <div id="policyArea"><div ng-repeat="field in form.form_fields"><h4>{{ field.field_title }}</h4>
<div ng-repeat="text in field.content"><p>{{text.content_text}}</p></div>

            </div>
        </div>
    </div>
  </div>
  <!-- <button class="btn btn-success right" type="button" id="copyButton">Copy to clipboard</button> -->

</div>
