<div class="field row">
    <div class="span2">
      <h4>Where does this policy apply?</h4>
    </div>
    <div class="span6">
      <p>This policy applies to the use of information, electronic and computing devices, and network resources to conduct business or interact with internal networks and business systems, whether owned or leased by [ORGANISATION], or a third party. All employees, contractors, consultants, temporary, and other workers are responsible for exercising good judgment regarding appropriate use of information, electronic devices, and network resources in accordance with policies and standards, and local laws and regulation. You may access, use or share [ORGANISATION] proprietary information only to the extent it is authorized and necessary to fulfill your assigned job duties. This document defines company digital security policy for usage of the Internet in the workplace and on any company provided computer systems.</p>
    </div>
    <hr>
    <div class="span2">
      <h4>Who does this apply to?</h4>
    </div>
    <div class="span6">
      <p>The policy applies to all staff, whether directly or indirectly employed or otherwise under the control of [ORGANISATION].</p>
    </div>
    <hr>

    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
