<div class="field row">
    <div class="span2">
      <h4>What is this?</h4>
    </div>
    <div class="span6">
      <p>This document outlines [ORGANISATION]’s Security Policy and Strategy and it is meant to ensure the digital and physical security of [ORGANISATION] and its staff.</p>
    </div>
    <hr>
    <div class="span2">
      <h4>Who does this apply to?</h4>
    </div>
    <div class="span6">
      <p>The policy applies to all staff, whether directly or indirectly employed or otherwise under the control of [ORGANISATION].</p>
    </div>
    <hr>

    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
