<div class="field row">
    <span ng-bind="org_name"></span>
    <div class="span2">
      <h4>Maintenance overview</h4>
    </div>
    <div class="span6 policyContent">
      <p>[ORGANISATION]’s Security Policy and Strategy sets out to involve everyone to ensure it meets the specific needs and concerns of each individual, while incorporating necessary steps for the security of [ORGANISATION] as a whole, including its platforms and social media accounts and digital identity.</p>
      <p>As such, this Security Policy and Strategy is being shaped through everyone’s participation and on an ongoing basis.</p>
    </div>

    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
