<div class="field row">
    <div class="span2">
      <h4>Does this apply to all staff?</h4>
      <div ng-repeat="option in field.field_options" class="row-fluid">
          <label>
              <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"  ng-required="field.field_required"/>
              &nbsp;<span ng-bind="option.option_title"></span>
          </label>
      </div>
    </div>
    <div class="span6 policyContent">
      <p>This policy will be reviewed [YEARLY | QUARTERLY | MONTHLY] and in response to any changes affecting the basis of the original risk assessment for example: significant security incident, new vulnerabilities and significant changes to the organisation or technical infrastructure.</p>
      <p>Changes to this policy will be communicated to all staff.</p>
    </div>
    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
