<div class="field row">
    <span ng-bind="org_name"></span>
    <div class="span2">
      <h4>The purpose</h4>
    </div>
    <div class="span6 policyContent">
      <p>This document outlines [ORGANISATION]’s Security Policy and Strategy and it is meant to ensure the Digital and Physical security of [ORGANISATION] and its members.</p>
      <p>Our intention for [ORGANISATION]’s Security Policy and Strategy is not to impose restrictions that are contrary to our established culture of openness, trust and integrity. We are committed to protecting [ORGANISATION]’s employees, partners and the company.</p>
      <p>Effective security is a team effort involving the participation and support of every employee and affiliate who deals with information and/or information systems. It is the responsibility of every individual to know these guidelines, and to conduct their activities accordingly.</p>
      <p>In short, the primary purpose of this policy is:
        <ul><li>to preserve [ORGANISATION]’s security, i.e. the preservation of confidentiality, integrity and availability of [ORGANISATION]’s information assets;</li>
          <li>to ensure that [ORGANISATION] complies with contractual and legal requirements;</li>
          <li>to prevent damage to [ORGANISATION]’s reputation;</li></ul></p>
    </div>

    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
