<div class="field row">
    <div class="span2">
      <h4>Does this apply to all staff?</h4>
      <div ng-repeat="option in field.field_options" class="row-fluid">
          <label>
              <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"  ng-required="field.field_required"/>
              &nbsp;<span ng-bind="option.option_title"></span>
          </label>
      </div>
    </div>
    <div class="span6 policyContent">
      <p>The policy applies to all staff, whether directly or indirectly employed or otherwise under the control of [ORGANISATION]. All employees, contractors, consultants, temporary, and other workers are responsible for exercising good judgment regarding appropriate use of information, electronic devices, and network resources in accordance with policies and standards, and local laws and regulation.</p>
    </div>
    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
