<div class="field row">
    <div class="span2">
      <h4>Does this apply to all systems?</h4>
      <div ng-repeat="option in field.field_options" class="row-fluid">
          <label>
              <input type="radio" value="{{option.option_value}}" ng-model="field.field_value"  ng-required="field.field_required"/>
              &nbsp;<span ng-bind="option.option_title"></span>
          </label>
      </div>
    </div>
    <div class="span6 policyContent">
      <p>This policy applies to the use of information, electronic and computing devices, and network resources to conduct business or interact with internal networks and business systems, whether owned or leased by [ORGANISATION], or a third party. You may access, use or share [ORGANISATION] proprietary information only to the extent it is authorized and necessary to fulfill your assigned job duties.</p>
    </div>
    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
