<div class="field row">
  {{$rootScope.org_name}}
    <span ng-bind="org_name"></span>
    <div class="span2">
      <h4>{{field.field_heading}}</h4>
    </div>
    <div class="span6">
      <div ng-repeat="text in field.content" ng-bind-html="text.content_text" class="row-fluid policyContent">
        <p>{{text.content_text}}</p>
      </div>

    </div>

    <!-- <div class="span4">
        <input type="text" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
        <span class="required-error" ng-show="field.field_required && !field.field_value">* required</span>
    </div> -->
</div>
