    <div class="jumbotron">
        <h1>Security Policy generator</h1>
        <p class="lead">Security Policies are a critical part of every organisation's security strategy. This generator is built to help you create a thorough security policy that is customised to your organisation and work environment.</p>
        <a class="btn btn-large btn-success" href="#/forms/create">Get started!</a>
    </div>

    <hr>
    <div class="row marketing">
        <div class="span9">
            <h4>Maecenas faucibus</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>
