<div class="container-fluid">
  <div class="container-narrow">
    <div class="jumbotron">
            <h1>Security Policy generator</h1>
            <p class="lead">Security Policies are a critical part of every organisation's security strategy. This generator is built to help you create a thorough security policy that is customised to your organisation and work environment.</p>
            <a class="btn btn-large btn-success" href="#/forms/new/create">Get started!</a>
        </div>
  </div>
</div>
<hr>
<div class="container-narrow">
  <div class="row marketing">
    <div class="span9">
        <h4>How does it work?</h4>
        <p>When you hit the Get Started! button above, you'll be shown all the sections of a security policy that you might need to protect your organisation. Although some sections will not require any input from you, it's important that you read and understand the entire policy in order to implement it correctly. When you're done, just hit the Create Policy button and you'll be given your custom security policy, ready for further editing, copying and sharing.</p>
    </div>
  </div>
</div>
